<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sanchit's Portfolio</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">

  
</head>

<body>

	
	<div id="particles-js">
  	
  <div ng-app="" ng-controller="ContactController" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
  <h1 class="greet">Welcome to Sanchit's Portfolio.<br>Please enter your name to continue.</h1><br><br>
  	<form ng-submit="addMail()">
    	<input type="mail" style="width: 75%;height: 45px; border: 2px solid black; border-radius: 10px; padding: 15px;
    	font-size: 15px;" placeholder = "Name" ng-model="mailAdress"/>
    	<button type="submit" style="padding: 12px; margin: 2%; background-color: white; font-size: 120%; border-radius: 10px; border: 2px solid black; cursor: pointer;">Submit</button>
  	</form>
  	<br><br>
	<li style="list-style-type: none;" ng-repeat="contact in contacts track by $index">  
    <p style="font-size: 160%;">Welcome to the Portfolio {{ contact }}! <br><br> 
    <center><a href="#aboutme"><button style="padding: 8px; font-size: 14px;border-radius: 5px;border: 1.5px solid #1db4d4;cursor: pointer;background-color: white;">Click Here To Continue!</button></a></center></p> 
  </li>
<br><br><br><br>
	<center>
	<p style="font-size: 21px;" class="links">
		<a style="font-size: 45px;" href="https://www.linkedin.com/in/sanchit0496" target="_blank;"> <i class="fab fa-linkedin"></i></a>  
		<a style="font-size: 45px;" href="https://www.github.com/sanchit0496" target="_blank;"> <i class="fab fa-github-square"></i></a>  
		<a style="font-size: 45px;" href="https://www.codepen.com/sanchit0496" target="_blank;"> <i class="fab fa-codepen"></i></a>  
		<a style="font-size: 45px;" href="https://www.instagram.com/sanchit_leo/" target="_blank;">  <i class="fab fa-instagram"></i></a>  
		<a style="font-size: 45px;" href="https://www.facebook.com/sanchit0496" target="_blank;"> <i class="fab fa-facebook-square"></i></a>  
	</p>
	</center>
	<center>
	<p style="font-size: 21px;" class="links">Published Book on <a href="https://www.amazon.com/dp/171806781X"> <i class="fab fa-amazon" style="font-size: 45px;"></i> </a>  Here.</p>
	<p style="font-size: 21px;" class="links">Join  <a href="www.unocrate.com"><i class="fas fa-underline"></i></a>  Unocrate - The Platform of Positivity!</p>
	<p style="font-size: 21px;" class="links">Click  <a href="https://unacademy.com/user/sanchit496"><i class="fas fa-video"></i></a>  to Watch My Unacademy Tutorial Videos</p>
	</center>
  	</div>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<h4><i class="fas fa-project-diagram"></i> About Me</h4>
<div class="row" id="aboutme">
  <div class="col-4">
  	<img style="max-height: 95%;border-radius:8px;max-width: 90%;" src="images/mypic.jpg">
  </div>
  <div class="col-8">
  	<p style="position: relative;
    margin-left: 20px; font-size: 14px;
    background: #ffffff; padding:5px;
    border-radius: 0.25em;
    max-width: 80%;
    padding: 2em; font-size: 16px;
    box-shadow: 0 3px 0 #d7e4ed;"><strong>Author, Educator, and Self Taught Full Stack Developer.</strong> <br><br>
    I am a techno-friendly person and like to explore every new gadget and technology that arrives. I believe in hard work and like to see and work on the practical approach of things. I always seek to innovate and think of the improvements that could be made of any sort anywhere. 
	<br><br>
	I seek to work in an environment which brings out the best in me. I give my best in any work I take up and know how to keep the morale of me and people around me high in any situation.<br><br>
		<strong>Have a look at my portfolio to get more information about my projects and other works.</strong>
 </p> 
  </div>
</div>


<h4><i class="fas fa-project-diagram"></i> Education</h4>

<div class="container" style="font-size: 15px;position: relative;
    margin-left: 180px; font-size: 14px;
    background: #ffffff; padding:5px;
    border-radius: 0.25em;
    max-width: 70%;
    padding: 2em; font-size: 16px;
    box-shadow: 0 3px 0 #d7e4ed;">
 
<div class="row">
    <div class="col" style="border-right: 1px solid #6c757d;padding:10px;">
      LNCT Group of Colleges
    </div>
    <div class="col-5" style="border-right: 1px solid #6c757d;padding:10px;margin-left: 40px;margin-right: 40px;">
      Bachelor of Engineering (2015 - 2019)
    </div>
    <div class="col">
      6.54 CGPA
    </div>
  </div>

  <div class="row">
    <div class="col" style="border-right: 1px solid #6c757d;padding:10px;">
      St. Joseph's High School
    </div>
    <div class="col-5" style="border-right: 1px solid #6c757d;padding:10px;margin-left: 40px;margin-right: 40px;">
      All India Senior School Certificate Examination - 2014
    </div>
    <div class="col">
      73.20%
    </div>
  </div>

  

  <div class="row">
    <div class="col" style="border-right: 1px solid #6c757d;padding:10px;">
      St. Joseph's High School
    </div>
    <div class="col-5" style="border-right: 1px solid #6c757d;padding:10px;margin-left: 40px;margin-right: 40px;">
	All India Secondary School Examination - 2012
	</div>
    <div class="col">
      8.20 CGPA
    </div>
  </div>

</div>

<br><br>

<h4><i class="fas fa-project-diagram"></i> Timeline</h4>
<div id="info">
<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Semi Finalist - 3M Young Innovators Challenge Awards - 2017</h2>
				<p>The 3M-CII Young Innovators Challenge Awards seeks to find ideas and new projects from young innovators communities that are ready to build resilience to the social, economic, and physical challenges. <br> The challenge is jointly organized by 3M-India in partnership with Confederation of Indian Industry (CII).	
				<br><br>
				<strong>EcoAlly - The Green Irrigation System ( Individual Project)</strong> </p>
				<a href="http://www.3myounginnovatorschallenge.com/challenge-overview/" class="cd-read-more">Read more</a>
				<span class="cd-date">Oct 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Top 25 Innovator - India</h2>
				<p>This is one of India’s most prestigious and most-awaited national innovation challenges promoted by the Confederation of Indian Industry (CII) in partnership with the Department of Science and Technology (DST), Government of India (GOI) and All India Council for Technical Education (AICTE).<br><br>
				<strong>Multipurpose Smart Electronic Accessory</strong></p>
				<a href=http://www.i3.ciiinnovation.in/ class="cd-read-more">Read more</a>
				<span class="cd-date">Dec 17</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Recepient: Google India Challenge Scholarship - 2018</h2>
				<p>Received scholarship from Google to study a three-month Front-End Web Development Track on Udacity.
				A total of 10,000 scholars were selected for the first phase of the scholarship program.</p>
				<a href="https://www.udacity.com/scholarships" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->


		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Recepient: Google India Nanodegree Development Scholarship - 2018</h2>
				<p>	The 'Top 350' performers from the initially selected 10,000 scholars were selected for the second phase of the scholarship program. The selection ratio of the program was 0.035.</p>
				<a href="https://www.udacity.com/scholarships" class="cd-read-more">Read more</a>
				<span class="cd-date">May 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Unocrate - The Platform of Positivity</h2>
				<p>The website has all the features that are essential to a social networking platform. This was my biggest web development project until now, and I left no stones unturned. The website designing, graphic and logo designing, front-end development, back-end development, the server management, making it device-responsive, and all the brainstorming has been completely and solely done by me only.
				</p>
				<a href="www.unocrate.com" class="cd-read-more">Read more</a>
				<span class="cd-date">Oct 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Rajasthan Hackathon 4.0</h2>
				<p>Reached the final round of 'Rajasthan Hackathon 4.0' event, organised by the 'Government of Rajasthan'. Created a website for the 'Tourism Department' in less than 48 hours. Created two databases containing information of the 'Police Stations' and the 'Hospitals' of the state.
				</p>
				<a href="https://github.com/sanchit0496/RajasthanHackathon4.0" class="cd-read-more">Read more</a>
				<span class="cd-date">2018</span>
			</div> <!-- cd-timeline-content -->
		</div>		
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Unacademy</h2>
				<p>Joined Unacademy as an educator. The courses have an average rating of 4.6* out of 5.0*.</p>
				<span class="cd-date"></span>
				<a href="www.unacademy.com/sanchit496" class="cd-read-more">Read more</a>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Research Papers and freeCodeCamp</h2>
				<p>Published a research paper on the topic of 'The Internet of Things' in the <strong>'International Research Journal of Engineering and Technology - IRJET'.</strong><br><br>The full paper can be read by going on the publication URL mentioned here.<br> Also completed two freeCodeCamp Legacy certifications that requires creating fifteen web development projects and completing 800 hours of coursework.<br><br>
				<a href="https://www.irjet.net/archives/V5/i7/IRJET-V5I7448.pdf" class="cd-read-more">Click here to Read the Publication.</a></p>
				<span class="cd-date"></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Book Publication</h2>
				<p>This book is the result of hundreds of hours of research, hard work and dedication.The topics covered range from murder mysteries of celebrities, the assassination of the world leaders, to the conspiracy theories that have been unsolved for over 2 centuries now. After reading the book, you would know a lot of things that were not supposed to be in the public domain.<br><br>
				<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.amazon.com%2Fdp%2F171806781X%3Ffbclid%3DIwAR043r0ScIJujsYFykw2gFnDZoxpNnmj2cKCzjRImkyk9ncrh2mk0DHPo9c&h=AT0E2JQzAJG6Z8avASjT4ddMslawbr_5xG76tkV7dC4tFjOFZQa10sq_j2zx1WqClwR3Fhkcsw27n5e9Jyc_vwFE8ZdVPNaIVaTmVGUgt5qWNH3tOZdDpyMRpwtB6nq37xjwlM0t_hW53c5IA8fwBAro98ox-3hfKozX-faSBn4Cym0" class="cd-read-more">Click Here to Get the Book.</a></p>
				<span class="cd-date"></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
	</div><br><br><br>

<h4><i class="fas fa-project-diagram"></i> Skills and Proficiency</h4>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="skillname">HTML</p>
      <div class="progress">
  <div  class="progress-bar bg-info" role="progressbar" style="width: 85%;font-size: 14px;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85</div>
</div>
    </div>
    <div class="col-sm">
      <p class="skillname">CSS</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 85%;font-size: 14px;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85</div>
</div>
    </div>
    <div class="col-sm">
       <p class="skillname">Javascript</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 65%;font-size: 14px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65</div>
</div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
            <p class="skillname">jQuery</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 70%;font-size: 14px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70</div>
</div>
    </div>
    <div class="col-sm">
            <p class="skillname">MySQL</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 75%;font-size: 14px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75</div>
</div>
    </div>
    <div class="col-sm">
            <p class="skillname">PHP</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 65%;font-size: 14px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65</div>
</div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
         <p class="skillname">C Programming</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 60%;font-size: 14px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60</div>
</div>
    </div>
    <div class="col-sm">
      <p class="skillname">Python 3.5</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 60%;font-size: 14px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60</div>
</div>
    </div>
    <div class="col-sm">
      <p class="skillname">Angular JS</p>
      <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%;font-size: 14px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50</div>
</div>
    </div>
  </div>
</div><br><br><br><br>

<h4><i class="fas fa-project-diagram"></i> Full Stack Development Projects</h4>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/unocrate.png" alt="Card image cap"><br>
    <div class="card-body"><br><br>
      <h5 class="card-title">www.unocrate.com (LAMP Stack)</h5>
      <p class="card-text">A social networking platform. The work included website designing, graphic and logo designing, front-end development, back-end development, the server management.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">October 2018 <span class="proj" style="margin-left: 45%;"><a href="www.unocrate.com">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Personal Portfolio Webpage</h5>
      <p class="card-text">Creating a personal portfolio website using CSS Grid and Bootstrap.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_ResponsiveWebDesign/tree/master/PersonalWebpage">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/github.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Random Quote Machine</h5>
      <p class="card-text">Developed two versions of 'Random Quote Machine' Project. First using the Quotes API, and the second one by using the Javascript Array and Math.random() method.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_FrontEndLibraries/tree/master/RandomQuoteMachineAPI">Click Here</a></span></small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Pomodoro Clock</h5>
      <p class="card-text">The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks. Used jQuery for this project.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_FrontEndLibraries/tree/master/PomodoroClock">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/github.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Java Script Calculator</h5>
      <p class="card-text">A simple calculator application that could solve arithematic logics. Javascript was used for this project.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_FrontEndLibraries/tree/master/JavaScriptCalculator">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Show The Local Weather API</h5>
      <p class="card-text">freeCodeCamp's weather API has been used to fetch the weather and climatic details of the place the user is sitting at. JSON and AJAX technologies has been used in this project.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/weatherAPI">Click Here</a></span></small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/github.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Use The Twitch JSON API</h5>
      <p class="card-text">The API of Twitch platform is used in this project, to get information of the users online and offline at any moment of time. Private access key was created in order to get information from the Twitch database. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/TwitchTV_API">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Tribute Page</h5>
      <p class="card-text">A simple responsive web page was created. CSS Grid and Flexbox were used for this project.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_ResponsiveWebDesign/tree/master/TributePage">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/github.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Wikipedia Viewer</h5>
      <p class="card-text">Thw user can search Wikipedia entries in a search box and see the resulting Wikipedia entries. The user can also click a button to see a random Wikipedia entry.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/WikipediaViewerAPI">Click Here</a></span></small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Tic Tac Toe Game</h5>
      <p class="card-text">A simple Tic Tac Toe game using Javascript. Reset button was provided incase the user wants to play again.<br><br> The user plays against the CPU Player.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/JS-Tic-Tac-Toe">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/codepen.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Build A Simon Game</h5>
      <p class="card-text">A simple game in which the user is presented with a random series of button presses. Each time I input a series of button presses correctly, I see the same series of button presses but with an additional step.
		If the user press the wrong button, that series of button presses starts again to remind the user of the pattern so he can try again. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/SimonGame">Click Here</a></span></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/fcc.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Responsive Web Designing Projects - freeCodeCamp</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">November 2017 <span class="proj" style="margin-left: 45%;"><a href="https://github.com/sanchit0496/FCC_ResponsiveWebDesign/">Click Here</a></span></small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/udacity.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 18px; margin-left: 5%;">Google - Udacity Front End Nanodegree Projects</h5>
      <p class="card-text">
      	

<ul>
	<p style="font-size: 16px; line-height: 1.5; margin-left: 10%;">
		Following projects were created for the 'Google - Udacity Front End Nanodegree Scholarship Program'.<br> Codes of these projects can be accessed on my Github Profile. <br><br>
-  Mockup to Website <br>
-  Interactive Resume<br>
-  Classic Arcade Game Clone<br>
-  Website Optimization<br>
-  MyReads Project using React<br>
-  Neighborhood Map Project (Using React and Angular JS)<br>
-  Feed Reader Testing (Using React API)<br>
</p>
</ul>

      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Feb 2018 - Nov 2018 <span class="proj" style="margin-left: 80%;"><a href="https://github.com/sanchit0496/freeCodecamp_LegacyFEND/tree/master/JS-Tic-Tac-Toe">Click Here</a></span></small>
    </div>
  </div>
</div>




<h4>Contact Details</h4>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm" style="border-right:1px solid #b8babc;">
      <center><i style="font-size: 80px;" class="fas fa-envelope"></i><br>
      <p style="margin-top: 20px;font-size: 15px;">761482@cognizant.com</p></center>
    </div>
    <div class="col-sm" style="border-right:1px solid #b8babc;">
      <center><i style="font-size: 80px;" class="fas fa-map-marker-alt"></i><br>
      <p style="margin-top: 20px;font-size: 15px;">Rajeev Gandhi Infotech Park 
        <br> CTS,Hinjewadi Phase 3 Pune, Maharastra, India</p></center>
    </div>
    <div class="col-sm">
<center><i style="font-size: 80px;" class="fas fa-mobile-alt"></i><br>
      <p style="margin-top: 20px;font-size: 15px;">+91 9179745312</p></center>    </div>
  </div>
</div>

<br><br><br><br>
<footer id="footer">
        <div class="copyright">
          <div class="row">
            <div class="col s12 m6 l6 left light-bg" style="color: white; font-size: 15px;">
              &copy; Sanchit - 2019
            </div>
            <div class="col s12 m6 l6 right dark-bg">
              <br>
            </div>
          </div>
        </div>
      </footer>


</body>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
 	<!-- stats.js lib --> 
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js'></script>
	<script  src="js/index.js"></script>





</html>
